<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="debug_file" fileName="/homedtic/gcasamayor/logs/textplanning.log" append="true">
            <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%m%n"/>
        </File>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%p] – %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
        </Root>
        <Logger name="edu.upf.taln.textplanning">
            <AppenderRef ref="debug_file"/>
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.uima">
            <level value="ERROR"/>
        </Logger>
        <Logger name="de.tudarmstadt.ukp.dkpro">
            <level value="ERROR"/>
        </Logger>
        <Logger name="it.uniroma1.lcl">
            <level value="ERROR"/>
        </Logger>
    </Loggers>
</Configuration>